/******************************************************************
 * Reset CSS (inspired by the follwing articles)
 * 
 * http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
 * http://komodomedia.com/blog/index.php/2006/10/02/css-trickery-part-5-inheritance/
 * http://www.positioniseverything.net/easyclearing.html
 ******************************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td,h1,h2,h3,h4,h5,h6{text-align:left;font-weight:normal}input,select,textarea{font:inherit}.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}select,button{cursor:pointer}a{text-decoration:none}address{font-weight:normal}
/******************************************************************
 * FONTS (all fonts are calculated in em's for resizability)
 ******************************************************************/
body { font-family: verdana, helvetica, arial, sans-serif; font-size: 1em } /* 16px (browser default) */
#nav { font-size: 0.75em; letter-spacing: 0.083em } /* 12px 1px */
h1 { font-size: 1.5em } /* 24px */
h2 { font-size: 1.125em } /* 18px */
#header h2 { font-size: 0.813em; letter-spacing: 0.077em } /* 13px 1px */
#body a:hover, .image a:hover small { text-decoration: underline }
p, ul, ol, legend { font-size: 0.813em } /* 13px */
p, ul { line-height: 1.538em } /* 20px */
p.note { font-size: 0.688em; font-style: italic } /* 11px */
form h2 { font-size: 1.063em } /* 17px */
form p { font-size: 0.75em } /* 12px */
form p.submit { font-size: 0.813em } /* 13px */
form strong { font-size: 0.875em; font-weight: bold } /* 14px */
form#reservation legend small { font-size: 0.846em } /* 11px */
.image small { font-size: 0.688em; font-style: italic } /* 11px */
.activity h2 { font-size: 0.875em } /* 14px */
#features li { line-height: 6em } /* 78px */
#credits { font-size: 0.625em; letter-spacing: 0.1em } /* 10px 1px */
#language_picker li { line-height: 0 } /* cancel */
legend, form h2, #body h1, #body h2 { text-transform: capitalize }
.italic { font-style: italic }
.error, .success { font-weight: bold }
/******************************************************************
 * LAYOUT (all fonts are calculated in em's for resizability)
 ******************************************************************/
body { width: 100%; margin: auto; max-width: 950px }
#language_picker { padding-top: 15px }
#language_picker li { float: right; width: auto; margin-left: 7px }
#language_picker li a { background: url('../images/flags/flags.png') no-repeat; display: block; height: 16px; width: 16px; text-indent: -100em; overflow: hidden }
#language_picker li#en_US a { background-position: 0 0 }
#language_picker li#fr_FR a { background-position: 0 -16px }
#language_picker li#id_ID a { background-position: 0 -32px }
#language_picker li#en_US a:hover { background-position: -16px 0 }
#language_picker li#fr_FR a:hover { background-position: -16px -16px }
#language_picker li#id_ID a:hover { background-position: -16px -32px }
#header { margin-bottom: 11px }
#header h1 { background: url('../images/logos/logo.png') no-repeat; width: 243px; height:39px; float: left; text-indent: -100em; margin: -11px 0 0 0 }
#header h2 { float: right; width: auto; margin: 8px 0 0 0 }
#panorama { background: url('../images/panoramas/restaurant_night.jpg'); width: 100%; height: 239px }
#nav { padding: 6px 0 6px 10px }
#nav li { float: left; width: auto; margin-right: 30px }
#nav li a { display: block }
#body { padding: 30px }
#body img { padding: 3px }
#content_wrapper { margin-right: 400px }
#content { float: left; width: 100%; max-width: 400px; margin-right: -400px }
#side_content { float: right; width: 400px; text-align: right }
#side_content table { float: right; width: auto }
.image { margin-bottom: 20px }
.image br { display: none }
.image small { display: block; margin-right: 3px }
.activity { max-width: 575px; margin-bottom: 25px }
.activity h2 { margin-bottom: 7px }
.activity img { float: left; width: auto; margin: 0 12px 10px 0 }
.activity p { padding-top: 10px }
#features { list-style-type: none; margin-top: 35px }
#features li img { margin: 0 10px -10px 0 }
h1, h2, h3 { margin-bottom: 20px }
p, ul { margin-bottom: 15px }
ul, ol { margin-left: 25px; list-style-type: square }
form { padding: 17px }
form h2 { text-align: left; margin-bottom: 30px }
fieldset { padding: 15px 15px 5px 15px; margin-bottom: 20px }
legend { padding: 0 5px 2px 5px }
input { width: 13.462em } /* 175px */
input, textarea {  padding: 3px }
textarea { width: 25em; height: 11em } /* 300px 132px */
button { padding: 3px }
form strong { display: block; margin-top: 5px }
p.submit { margin: 10px 0 0 0 }
form#contact { width: 24em } /* 384px */
form#contact input { margin-right: 10px }
form#reservation { width: 27em } /* 432px */
form#reservation label { display: block; float: left; width: 9em } /* 117px */
form#reservation strong { margin-left: 10.308em } /* 134px */
select#accommodation_quantity, select#num_people { width: 4em } /* 48px */
select.check_in, select.check_out { width: 6.25em; margin-right: 3px } /* 75px */
input#airport_pickup { width: 1em; border: none; padding: 0 } /* cancel input decoration */
#credits { padding: 7px 0 15px 0; text-align: right }
#language_picker, #nav, #footer ul, #credits { margin: 0; list-style-type: none } /* cancel */
/******************************************************************
 * Design (colors)
 ******************************************************************/
body { background: #1c1810 }
#header, #nav li a, #nav li a:visited, .image small { color: #64604B }
#body { background: #fed0ae }
#nav li a:hover, #nav li.active { color: #979070 }
#body, #credits, form#reservation legend small { color: #474435 }
#body li span { color: #474435 }
#body li { color: #1c1811 }
#body h1, #body h2, legend, p#address { color: #1c1811 }
#body img, form, fieldset, input, textarea, button { border: 1px solid #A49D7B }
#body img, input, textarea, button { background: #ffffff }
form { background: #CEC69E }
fieldset { background: #C9C29C }
input, textarea, button { color: #1c1811 }
form strong, .error { color: #CC0C0C }
.success { color: #327a29 }
abbr { border-bottom: 1px dotted #64604B }
a, a:active, a:visited, a:hover, .image a small, .image a:active small, .image a:visited small, .image a:hover small { color: #0407A8 }